/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');


:root {
    --main-color: #0077b6;
    --accent-color: #47336d;
    --bg-color: #F5F5F5;
    --text-color: #131213;
    --ftrhdr-color: #1d2834;
}

/* Basic reset and font styles */



h4 {
    text-align: center;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--main-color);
    box-shadow: 2px 0 10px rgba(0,0,0,0.9);
    background-image: url(https://images.pexels.com/photos/450055/pexels-photo-450055.jpeg);
    background-size: cover;
    object-fit: cover;
    object-position: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
  
  }
  
html{
  scroll-behavior: smooth;
}
  .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.7rem; /* Adjust width */
    height: 2.7rem; /* Adjust height */
    background: transparent;
    border: .13rem solid var(--main-color); /* Adjust border thickness */
    border-radius: 50%;
    font-size: 1.3rem; /* Adjust font size */
    color: var(--bg-color);
    margin-top: .5rem;
    margin-right: 2rem; /* Adjust margin-right for space between icons */
    transition: all 0.3s ease;
    text-decoration: none;
    
  }
  
  .social-media a:hover {
    transform: scale(1.1); /* Scale the icon on hover */
    box-shadow: 0 0 1.2rem var(--main-color); /* Add a subtle shadow on hover */
    outline: none;
    background-color: var(--main-color);
    color: var(--bg-color);
    z-index: 999;
    
  }
  
  .social-media a:focus {
    outline: none; /* Remove the outline on focus */
  }
  
  .social-media a:last-child {
    margin-right: 0; /* Remove margin for the last icon */

  }
.navbar-brand {
    font-weight: 800;
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: clamp(1rem, 2.5vw + 1rem, 3rem); /* Adjust the font-size */
  font-weight: bold;
  margin-bottom: clamp(0.5rem, 1vw + 0.5rem, 1.5rem); /* Adjust margin as needed */
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.navbar ul li a {
  font-size: clamp(0.8rem, 2vw, 1.2rem); /* Set a range of font sizes */
  padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 1.5rem);
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .navbar ul li a {
      font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .navbar ul li a {
      font-size: 0.8rem; /* Further adjust font size for even smaller screens */
  }
}
  @media screen and (max-width: 377px) {
    .navbar ul li a {
        font-size: 0.6rem; /* Further adjust font size for even smaller screens */
    }
}

nav a {
    text-decoration: none;
    background-color: none;
    color: var(--main-color);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    font-weight: 800;
}

nav a:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 10px;
    transition: background-color 0.315s ease-in-out;
}


h6{
    font-weight: 500;
    color: var(--bg-color);
}
.batchyear, .classof{
    font-weight: 600;
    text-align: center;
    color: var(--bg-color);
    font-size: clamp(0.75rem, 1.5vw + 0.5rem, 1.5rem); /* Adjust the font-size */
  margin-bottom: clamp(0.25rem, 0.5vw + 0.25rem, 1rem); /* Adjust margin as needed */
}

.info{
  color: var(--bg-color);
  font-size: 0.84rem;
  margin-left: 2rem;
}

.asterisk{
  color: red;
}
/* Gallery styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.student {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.6rem;
}

.student img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 1; /* Change opacity to 1 initially */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  cursor:pointer;
  
}

.student img:hover {
  transform:scale(1.1) ;
}

.student .name {
    margin-top: 5px;
    font-size: 14px;
    color: var(--bg-color);
}



/* Footer styles */
footer {
  background-image: url(https://images.pexels.com/photos/450055/pexels-photo-450055.jpeg);
  background-size: cover;
  object-fit: cover;
  object-position: center;
    text-align: center;
    padding: 0.3rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.9);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content a {
    color: var(--bg-color);
    margin: 0.5rem;
    text-decoration: none;
}


.darwinlink{
  text-decoration:none;
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--text-color);
  background-size: cover;
  font-family: "Poppins", sans-serif;

}

  
 /* Existing CSS styles... */

.about1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    color: var(--text-color);
  }
  
  /* Add a media query for smaller screens */
  @media screen and (max-width: 768px) {
    .about1 {
      flex-direction: column; /* Change flex direction to column */
    }
  
    .about-img {
      margin-right: 0;
      margin-bottom: 20px; /* Adjust margin-bottom to create space between image and text */
    }
  
    .about-content {
      text-align: center;
      margin-right: 0;
    }
  }
  
  .about-img {
    text-align: center;
  }
  
  .about-img img {
    max-width: 100%;
    height: auto;
    border: 3px solid var(--main-color);
    border-radius: 100%;
  }
  
  /* Existing CSS styles... */
  
  
  .about1:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: -1;
  }
  
  
  .about-img {
    flex-basis: 40%;
    text-align: center;
  }

  .about-img img{
    width: 30rem;
    margin-top: 4rem;
    border: 3px solid var(--main-color);
    border-radius: 50%;

  }
  
  .about-img {
    flex-basis: 40%;
    text-align: center;
    margin: 0 5vw 0 5vw;
  }
  
  .about-img .img-container {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
  }
  
  .about-img .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  
  
  
  .about-content {
    margin-right: 5vw;
    margin-left: 5vw;

    
  }
  
  .about-content h3 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 15px;
    color: var(--bg-color);
  }
  
  .about-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 40rem;
    text-align: justify;
    color: var(--bg-color);
 

  }
  
  .about-content em {
    font-style: italic;
    font-weight: 600;
    color: var(--main-color);
  }
  
  .about-content strong {
    font-weight: 700;
    color: var(--main-color);
  }
  
  .btn {
    display: inline-block;
    padding: 7px 20px;
    background: var(--main-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 30px;
    transition: 0.8s;
    transform: scale(0.9);
    font-family: Poppins, sans-serif;
  }
  
  .btn:hover {
    background: transparent;
    transform: scale(1.1);
  }

  .sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.5s ease;
    z-index: 1000;
    backdrop-filter: blur(20px);
}

.sidebar-content {
    padding: 20px;
    color: var(--bg-color);
}

.sidebar.open {
    right: 0;
}


button:hover::before {
  filter: blur(10px);
}

button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #21db1abb, #f441a5, #ffeb3b, #fbff01b2);
  background-size: 400%;
  border-radius: 35px;
  transition: 0.8s;
  
}

p{
  font-size: 1.748vh;
}

.honors{
  font-size: 1rem;
}

.sidebar.open {
    right: 0;
}

.sidebar .sidebar-content h2 {
    margin-top: 50px;
    font-weight: bold;

}

.sidebar .sidebar-content p,
.sidebar .sidebar-content ul {
    margin-bottom: 10px;
}

.sidebar .sidebar-content ul {
    padding-left: 2vw;
}

.sidebar .sidebar-content ul li {
    list-style-type: disc;
}



#graduateFacebook .facebook-link {
    display: inline-flex;
    align-items: center;
    color: var(--bg-color);
    font-size: 1rem;
    display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem; /* Adjust width */
  height: 2rem; /* Adjust height */
  background: transparent;
  border: .13rem solid var(--main-color); /* Adjust border thickness */
  border-radius: 50%;
  font-size: 1.3rem; /* Adjust font size */
  color: var(--main-color);
  transition: all 0.3s ease;
  text-decoration: none;
}

#graduateFacebook .facebook-link:hover {
    color: var(--main-color);
}

#graduateFacebook .facebook-link i {
    font-size: 1.2rem;
}

#graduateFacebook {
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn {
  top: 10px;
  right: 10px;
}

.sidebar-close {
  position: absolute;
  top: 10px;
  right: 10px; 
  cursor: pointer;
  font-size: 2rem;
  color: var(--main-color);
  z-index: 1001;
  font-family: Poppins, sans-serif;
}


.student img.show {
  animation: fadeIn 0.8s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes slideInFromLeft {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.about-img {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1.3s ease-out, opacity 1.3s ease-out;
}

.about-content {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1.3s ease-out, opacity 1.3s ease-out;
}

.about-img.show {
  animation: slideInFromLeft 1.3s forwards;
}

.about-content.show {
  animation: slideInFromRight 1.3s forwards;
}


/* Add animation styles for the contact section */
#contact.animate-contact {
  animation: shake 0.5s ease-in-out;
}

/* Keyframes for the contact animation */
@keyframes shake {
  0% { transform: translateY(0); }
  25% { transform: translateY(-10px); }
  50% { transform: translateY(10px); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

/* Add styles to highlight social media icons */
.social-media .highlight-social-media {
  transform: scale(1.1); /* Scale the icon on hover */
  outline: none;
  color: var(--bg-color);
  z-index: 999;
  box-shadow: 0 0 4rem var(--main-color); /* Add a subtle shadow on hover */
}

/* INfinite Scroll */
.marquee-container {
  max-width: 100%;
  height: 16rem; /* Adjust the height as needed */
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #f0f0f0; /* Optional: background color */
}

.marquee-content {
  display: flex;
  animation: marquee 300s linear infinite;
}

.item {
  height: 100%; /* Make sure items fill the container height */
}

.item img {
  height: 100%; /* Ensure images fit within the item div */
  width: auto; /* Maintain the aspect ratio */
}

@keyframes marquee {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}


/* GALLERY SECTION */


